<!DOCTYPE html>
<html>

  <head>
    <title>GitCloudStats</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>

  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Raleway", sans-serif
    }

  </style>

  <body>
    <header class="w3-container w3-blue w3-center" style="padding:128px 16px ">
      <h1 class="w3-margin w3-jumbo">GitCloudStats</h1>
      <p class="w3-xlarge">Une vision de github différente</p>
    </header>
    <section class="section-site-web site-web-contenu-page-libre">

      <div class="container-fluid">
        <div class="row medium-padding80 bg-border-color">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading mb30">

                  <h2 class="h3 heading-title">Informations légales</h2>
                  <div class="heading-line">
                    <span class="short-line"></span>
                    <span class="long-line"></span>
                  </div>


                </div>
              </div>
              <div class="col-lg-12 contenusimple">
                <p>Merci de lire attentivement les pr&eacute;sentes modalit&eacute;s d&#39;utilisation du pr&eacute;sent
                  site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans r&eacute;serve les
                  pr&eacute;sentes modalit&eacute;s.
                  <h3>Editeur du site</h3>


                  <div class="coordonnees vcard">
                        <p>Etudiant à l'Epsi </p>
                      
                  </div>

                  <h3>Conditions d&#39;utilisation</h3>
                  Le site accessible par les url suivants :http://git2a2l.tk/est exploit&eacute; dans le
                  respect de la l&eacute;gislation fran&ccedil;aise. L&#39;utilisation de ce site est r&eacute;gie par
                  les pr&eacute;sentes conditions g&eacute;n&eacute;rales. En utilisant le site, vous reconnaissez avoir
                  pris connaissance de ces conditions et les avoir accept&eacute;es.
                  <h3>Responsable &eacute;ditorial</h3>

                  <div class="coordonnees vcard">
                      <p>Etudiant à l'Epsi </p>
                      <span class="country-name">France</span><br />
                  </div>

                  <h3>Limitation de responsabilit&eacute;</h3>
                  Les informations contenues sur ce site sont aussi pr&eacute;cises que possibles et le site est
                  p&eacute;riodiquement remis &agrave; jour, mais peut toutefois contenir des inexactitudes, des
                  omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait &ecirc;tre un
                  dysfonctionnement, merci de bien vouloir le signaler par <a href="mailto:alan.guegan@espi.fr"
                    style="text-decoration:none">email</a> en d&eacute;crivant le probl&egrave;me de la mani&egrave;re
                  la plus pr&eacute;cise possible (page posant probl&egrave;me, action d&eacute;clenchante, type
                  d&rsquo;ordinateur et de navigateur utilis&eacute;, &hellip;).<br />
                  <br />
                  <h3>Litiges</h3>
                  Les pr&eacute;sentes conditions sont r&eacute;gies par les lois fran&ccedil;aises et toute
                  contestation ou litiges qui pourraient na&icirc;tre de l&#39;interpr&eacute;tation ou de
                  l&#39;ex&eacute;cution de celles-ci seront de la comp&eacute;tence exclusive des tribunaux dont
                  d&eacute;pend le si&egrave;ge social de la soci&eacute;t&eacute; Natural net. La langue de
                  r&eacute;f&eacute;rence, pour le r&egrave;glement de contentieux &eacute;ventuels, est le
                  fran&ccedil;ais.

                  <h3>Confidentialit&eacute;</h3>
                  Vos donn&eacute;es personnelles sont confidentielles et ne seront en aucun cas communiqu&eacute;es
                  &agrave; des tiers hormis pour la bonne ex&eacute;cution de la prestation.

                  <h3>H&eacute;bergeur</h3>
                  <span style="font-weight: bold;">google cloud plateform</span><br />
                  Plateforme de gestion et cr&eacute;ation de sites internet<br />
                  <br />
             
                  <h2>Conditions de service</h2>
                  Ce site est propos&eacute; en langages <strong>HTML5 </strong>et <strong>CSS3</strong>, pour un
                  meilleur confort d&#39;utilisation et un graphisme plus agr&eacute;able, nous vous recommandons de
                  recourir &agrave; des navigateurs modernes comme Safari, Firefox, Chrome,...<a
                    href="https://www.site-internet-qualite.fr/" style="text-decoration:none"> </a> <a
                    href="http://www.natural-net.fr/" style="text-decoration:none"> </a>

                  <h3>Cookies</h3>
                  Pour des besoins de statistiques et d&#39;affichage, le pr&eacute;sent site utilise des cookies. Il
                  s&#39;agit de petits fichiers textes stock&eacute;s sur votre disque dur afin d&#39;enregistrer des
                  donn&eacute;es techniques sur votre navigation. Certaines parties de ce site ne peuvent &ecirc;tre
                  fonctionnelle sans l&rsquo;acceptation de cookies.

                  <h3>Pr&eacute;cautions d&#39;usage</h3>
                  Il vous incombe par cons&eacute;quent de prendre les pr&eacute;cautions d&#39;usage n&eacute;cessaires
                  pour vous assurer que ce que vous choisissez d&#39;utiliser ne soit pas entach&eacute; d&#39;erreurs
                  voire d&#39;&eacute;l&eacute;ments de nature destructrice tels que virus, trojans, etc....

                  <h3>Contactez-nous</h3>
                  Nous somme à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous
                  &eacute;crire en fran&ccedil;ais par courrier &eacute;lectronique &agrave; : <a
                    href="mailto:alan.guegan@epsi.fr"
                    style="text-decoration:none">alan.guegan@epsi.fr</a>.<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

</html>
