<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bienvenue</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/form-elements.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#237afc"
                    },
                    "button": {
                        "background": "#fff",
                        "text": "#237afc"
                    }
                },
                "theme": "classic",
                "content": {
                    "message": "Bienvenue sur GitCloudStats pour le bon fonctionnement de l'application nous utilison des cookies",
                    "dismiss": "Accepter",
                    "link": "En savoir plus",
                    "href": "https://projetcloud20192a2l.appspot.com/info"
                }
            })
        });
    </script>
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar,
        h1,
        button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor,
        .fa-coffee {
            font-size: 200px
        }

    </style>

    <body>
        <header class="w3-container w3-blue w3-center" style="padding:128px 16px ">
            <h1 class="w3-margin w3-jumbo">GitCloudStats</h1>
            <p class="w3-xlarge">Une vision de github différente</p>
            <div class="col-sm-6 col-sm-offset-3 social-login">
                <div class="social-login-buttons">
                    <a class="btn btn-link-1 btn-link-1-github" href="/login/github"><i
                            class="fa fa-github"></i>Connecter vous avec github</a>
                </div>
            </div>
        </header>
        <!-- Top content -->
        <div class="top-content">
            <div class="row">
                <p>Projet étudiant libre de droit</p>
            </div>
        </div>
        </div>

        </div>


        <!-- Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/js/scripts.js"></script>

    </body>

</html>
